<%- include('inc/head'); %>

<body>
  <div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed">
    <%- include('inc/sidebar'); %>
    <%- include('inc/header'); %>

    <main id="main-container">
      <div class="bg-body-light">
        <div class="content content-full">
          <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-sm-fill h3 my-2">
              Credits
            </h1>
          </div>
        </div>
      </div>

      <div class="text-center alert alert-danger col-sm-4 offset-sm-3" role="alert" id="error-message" style="display: none"></div>

      <div class="content">
        <div class="row">

          <div class="col-md-6">
            <div class="block">
              <div class="block-header block-header-default">
                <h3 class="block-title">Redeem</h3>
              </div>

              <div class="block-content">
                <div class="row justify-content-center py-sm-3 py-md-5">
                  <div class="col-sm-10 col-md-8">
                    <div class="form-group">
                      <h4>You currently have <%- credits %> credits</h4>
                    </div>

                    &nbsp;

                    <div class="form-group">
                      <label for="block-form1-password">Redeem voucher</label>
                      <input type="password" class="form-control form-control-alt" id="voucherCode" name="voucherCode"
                        placeholder="Enter your voucher code">
                    </div>

                    &nbsp;

                    <div class="form-group">
                      <button id="redeem-button" type="submit" class="btn btn-primary mr-1 mb-3">
                        <i class="fas fa-arrow-right mr-1"></i></i> Submit
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer id="page-footer" class="bg-body-light">
      <div class="content py-3">
        <div class="row font-size-sm">
          <div class="col-sm-6 order-sm-1 py-1 text-center text-sm-left">
            &copy; <span data-toggle="year-copy"></span>. All rights reserved
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="/assets/js/oneui.core.min.js"></script>
  <script src="/assets/js/oneui.app.min.js"></script>
</body>

<footer>
  <script src="/js/api.js" type="module"></script>
</footer>

</html>