<%- include('inc/head'); %>

<body>
  <div id="page-container">
    <main id="main-container">
      <div class="bg-image">
        <div class="hero-static bg-white-95">
          <div class="content">
            <div class="row justify-content-center">
              <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="block block-themed block-fx-shadow mb-0">
                  <div class="block-header bg-dark">
                    <h3 class="block-title">Forgot Password</h3>

                    <div class="block-options">
                      <a class="btn-block-option" href="login" data-toggle="tooltip" data-placement="left"
                        title="Login">
                        <i class="fa fa-sign-in-alt"></i>
                      </a>
                    </div>
                  </div>

                  <div class="block-content">
                    <div class="p-sm-3 px-lg-4 py-lg-5">
                      <h1 class="mb-2">Title</h1>

                      <p>
                        Please provide your account’s email and we will send
                        you instructions on how to reset your password.
                      </p>

                      <form class="js-validation-signin" action="javascript:void(0)" method="POST">
                        <div class="form-group py-3">
                          <input type="text" class="form-control form-control-lg form-control-alt" id="emailAddress"
                            name="emailAddress" placeholder="Email Address" />
                        </div>

                        <div class="form-group row">
                          <div class="col-md-6 col-xl-5">
                            <button type="submit" class="btn btn-block btn-dark">
                              Send Email
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="content content-full font-size-sm text-muted text-center">
            &copy; <span data-toggle="year-copy"></span>. All rights reserved
          </div>
        </div>
      </div>
    </main>
  </div>

  <script src="/assets/js/oneui.core.min.js"></script>
  <script src="/assets/js/oneui.app.min.js"></script>
  <script src="/assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>
</body>

</html>