<!DOCTYPE html>

<html lang="en">
  <%- include('./inc/head.ejs') %> 

  <body>
    <div id="wrapper">
      <div class="visible incoming" id="pageloader-overlay">
        <div class="loader-wrapper-outer">
          <div class="loader-wrapper-inner">
            <div class="loader"></div>
          </div>
        </div>
      </div>

      <%- include('inc/sidebar.ejs') %>

      <header class="topbar-nav">
        <%- include('inc/topbar.ejs') %> 
      </header>

      <div class="clearfix"></div>

      <div class="content-wrapper">
        <!-- TODO: -->
      </div>

      <a class="back-to-top" href="#">
        <i class="fa fa-angle-double-up"></i>
      </a>

      <footer class="footer">
        <div class="container">
          <div class="text-center">
            Copyright © 2020 <a href="#" class="text-warning">mangohack</a>.
          </div>
        </div>
      </footer>
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/sidebar-menu.js"></script>
    <script src="/assets/js/app-script.js"></script>
  </body>
</html>