<%- include('inc/head'); %>

<body>
  <div id="page-container">
    <main id="main-container">
      <div class="hero-static d-flex align-items-center">
        <div class="w-100">
          <div class="bg-white">
            <div class="content content-full">
              <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-4 py-6">
                  <div class="text-center">
                    <p>
                      <i class="fa fa-3x fa-cog fa-spin text-primary"></i>
                    </p>

                    <h1 class="h4 mb-1">
                      Maintenance
                    </h1>

                    <h2 class="h6 font-w400 text-muted mb-3">
                      This site is undergoing maintenence and will be back
                      soon.
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="font-size-sm text-center text-muted py-3">
            &copy; <span data-toggle="year-copy"></span>. All rights reserved
          </div>
        </div>
      </div>
    </main>
  </div>

  <script src="/assets/js/oneui.core.min.js"></script>
  <script src="/assets/js/oneui.app.min.js"></script>
</body>

</html>