<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>mangohack</title>

    <link href="/assets/images/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/app-style.css" rel="stylesheet" />
  </head>

  <body>
    <div id="pageloader-overlay" class="visible incoming">
      <div class="loader-wrapper-outer">
        <div class="loader-wrapper-inner">
          <div class="loader"></div>
        </div>
      </div>
    </div>

    <div id="wrapper">
      <div class="loader-wrapper">
        <div class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>

      <div class="card card-authentication1 mx-auto my-5">
        <div class="card-body">
          <div class="card-content p-2">
            <div class="text-center">
              <h2>mangohack</h2>
            </div>

            <div class="card-title text-uppercase text-center py-3">
              Register
            </div>

            <form>
              <div class="form-group">
                <label for="username" class="sr-only">Username</label>

                <div class="position-relative has-icon-right">
                  <input
                    type="text"
                    id="username"
                    class="form-control input-shadow"
                    placeholder="Username"
                  />

                  <div class="form-control-position">
                    <i class="icon-user"></i>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="email-address" class="sr-only">Email Address</label>

                <div class="position-relative has-icon-right">
                  <input
                    type="email"
                    id="email-address"
                    class="form-control input-shadow"
                    placeholder="Email Address"
                  />

                  <div class="form-control-position">
                    <i class="icon-envelope"></i>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="password" class="sr-only">Password</label>

                <div class="position-relative has-icon-right">
                  <input
                    type="password"
                    id="password"
                    class="form-control input-shadow"
                    placeholder="Password"
                  />

                  <div class="form-control-position">
                    <i class="icon-lock"></i>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="confirm-password" class="sr-only"
                  >Confirm Password</label
                >

                <div class="position-relative has-icon-right">
                  <input
                    type="password"
                    id="confirm-password"
                    class="form-control input-shadow"
                    placeholder="Confirm Password"
                  />

                  <div class="form-control-position">
                    <i class="icon-lock"></i>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="invitation-code" class="sr-only"
                  >Invitation Code</label
                >

                <div class="position-relative has-icon-right">
                  <input
                    type="text"
                    id="invitation-code"
                    class="form-control input-shadow"
                    placeholder="Invitation Code"
                  />

                  <div class="form-control-position">
                    <i class="icon-note"></i>
                  </div>
                </div>
              </div>

              <button id="register-button" type="button" class="btn btn-warning btn-block">
                Register
              </button>
            </form>
          </div>
        </div>

        <div class="card-footer text-center py-3">
          <p class="mb-0">
            Already have an account?
            <a href="login" class="text-warning">Login</a>
          </p>
        </div>
      </div>

      <a href="javaScript:void();" class="back-to-top"
        ><i class="fa fa-angle-double-up"></i
      ></a>
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/sidebar-menu.js"></script>
    <script src="/assets/js/app-script.js"></script>

    <script src="/js/api.js" type="module"></script>
  </body>
</html>