<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="assets/css/oneui.min.css" />

    <title>500 - Title</title>
  </head>

  <body>
    <div id="page-container">
      <main id="main-container">
        <div class="hero">
          <div class="hero-inner text-center">
            <div class="bg-white">
              <div class="content content-full overflow-hidden">
                <div class="py-4">
                  <h1
                    class="display-1 text-dark invisible"
                    data-toggle="appear"
                    data-class="animated bounceInDown"
                  >
                    500
                  </h1>

                  <h2
                    class="h3 font-w300 text-muted invisible mb-5"
                    data-toggle="appear"
                    data-class="animated fadeInUp"
                  >
                    Internal Server Error
                  </h2>

                  <div class="form-group row justify-content-center">
                    <div class="col-sm-6 col-xl-4">
                      <a
                        class="btn btn-dark mr-1 mb-3"
                        href="javascript:history.back()"
                      >
                        <i class="fas fa-undo mr-1"></i> Go Back
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="assets/js/oneui.core.min.js"></script>
    <script src="assets/js/oneui.app.min.js"></script>
  </body>
</html>
