<head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />

    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />

    <title>mangohack | Home</title>

    <link href="/assets/images/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/sidebar-menu.css" rel="stylesheet" />
    <link href="/assets/css/app-style.css" rel="stylesheet" />
    <link href="/assets/css/skins.css" rel="stylesheet" />
  </head>