<nav id="sidebar" aria-label="Main Navigation">
    <div class="content-header bg-white-5">
        <a class="font-w600 text-dual" href="./">
            <i class="fa fa-circle-notch text-primary"></i>

            <span class="smini-hide">
                <span class="font-w700 font-size-h5">Mangohack</span>
            </span>
        </a>
    </div>

    <div class="content-side content-side-full">
        <ul class="nav-main">
            <li class="nav-main-item">
                <a class="nav-main-link active" href="./">
                    <i class="nav-main-link-icon si si-speedometer"></i>

                    <span class="nav-main-link-name">Dashboard</span>
                </a>
            </li>

            <li class="nav-main-heading">Store</li>

            <li class="nav-main-item">
                <a class="nav-main-link" href="cheats">
                    <i class="nav-main-link-icon si si-basket"></i>

                    <span class="nav-main-link-name">Cheats</span>
                </a>
            </li>

            <li class="nav-main-item">
                <a class="nav-main-link" href="credits">
                    <i class="nav-main-link-icon si si-wallet"></i>

                    <span class="nav-main-link-name">Credits</span>
                </a>
            </li>

            <li class="nav-main-heading">Support</li>

            <li class="nav-main-item">
                <a class="nav-main-link" href="https://discord.gg/jnUpt54" target="_blank">
                    <i class="nav-main-link-icon si si-earphones-alt"></i>

                    <span class="nav-main-link-name">Discord</span>
                </a>
            </li>
        </ul>
    </div>
</nav>